<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ecommerce 3</title>
<!-- // Stylesheets // -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/list.css" rel="stylesheet" type="text/css" />
<link href="css/ddsmoothmenu.css" rel="stylesheet" type="text/css" />
<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/jquery.fancybox-1.3.1.css" rel="stylesheet" type="text/css" media="screen" />
<!-- // Javascripts // -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/animatedcollapse.js"></script>
<script type="text/javascript" src="js/collapse.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/nivo.js"></script>
<script type="text/javascript" src="js/ddaccordion.js"></script>
<script type="text/javascript" src="js/acordin.js"></script>
<script type="text/javascript" src="js/switch.js"></script>
<script type="text/javascript" src="js/contentslider.js"></script>
<script type="text/javascript" src="js/jcarousellite_1.0.1.js"></script>
<script type="text/javascript" src="js/gallery_scrol.js"></script>
<script type="text/javascript" src="js/jquery.fancybox-1.3.1.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon.js"></script>
<script type="text/javascript" src="js/Verdana_400-Verdana_700-Verdana_italic_400-Verdana_italic_700.font.js"></script>
</head>

<body>
<!-- Wrapper Section -->
<div id="wrapper_sec">
	<!-- Header Section -->
	<div id="masthead">
    	<div class="wlcm_buttns">
        	<ul>
            	<li class="txt">Welcome! <a href="#" class="colr under">User Name</a></li>
                <li><a href="#" class="register upper">Register</a></li>
                <li><a href="#" class="login upper">Login</a></li>
            </ul>
        </div>
        <div class="clear"></div>
        <div class="logo">
        	<a href="index.html"><img src="images/logo.png" alt="" /></a>
            <h6>The world of best Tees</h6>
        </div>
        <div class="search">
        	<ul>
            	<li class="txt">SEARCH</li>
                <li><input type="text" value="Enter Keywords to search" id="searchBox" name="s" onblur="if(this.value == '') { this.value = 'Enter Keywords to search'; }" onfocus="if(this.value == 'Enter Keywords to search') { this.value = ''; }" class="bar" /></li>
                <li><a href="#" class="go">&nbsp;</a></li>
            </ul>
        </div>
        <div class="cartsec">
        	<ul>
            	<li class="items">2 Items</li>
                <li class="price">$200.00</li>
                <li class="viewcart">
                	<a href="javascript:animatedcollapse.toggle('dog')" class="cartbutn">View Cart</a>
                    <div id="dog" class="cartcollapse">
						<p class="txt">You just added "HP DV6" to your Cart</p>
                        <p class="noitmes">No of Items: 08</p>
                        <ul class="head">
                        	<li class="product upper colr">Product</li>
                            <li class="qty upper colr">Qty</li>
                            <li class="pricetab upper colr">Price</li>
                        </ul>
                        <ul class="items">
                        	<li class="product upper">Lorem ipsum dolor</li>
                            <li class="qty upper"><input name="a" type="text" value="1" /></li>
                            <li class="pricetab upper">$ 300</li>
                        </ul>
                        <ul class="items">
                        	<li class="product upper">Lorem ipsum dolor</li>
                            <li class="qty upper"><input name="a" type="text" value="1" /></li>
                            <li class="pricetab upper">$ 300</li>
                        </ul>
                        <ul class="items">
                        	<li class="product upper">Lorem ipsum dolor</li>
                            <li class="qty upper"><input name="a" type="text" value="1" /></li>
                            <li class="pricetab upper">$ 300</li>
                        </ul>
                        <ul class="items">
                        	<li class="product upper">Lorem ipsum dolor</li>
                            <li class="qty upper"><input name="a" type="text" value="1" /></li>
                            <li class="pricetab upper">$ 300</li>
                        </ul>
                        <ul class="noborder">
                        	<li class="total upper">Total</li>
                            <li class="totalprice upper">$ 28,000</li>
                        </ul>
                        <div class="clear"></div>
                        <a href="#" class="empty">Empty your Cart</a>
                        <a href="cart.html" class="checkout">Checkout</a>
                        <div class="clear"></div>
					</div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Navigation Section -->
	<div id="navigation">
    	<div id="smoothmenu1" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Men TEES</a></li>
                <li><a href="#">WO Tees</a>
                    <ul>
                        <li><a href="#">Men T-Shirts</a></li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">Custom Design</a></li>
                        <li><a href="#">T-Shirts</a></li>
                        <li><a href="#">Sub Navigation</a>
                            <ul>
                                <li><a href="#">Sub Item 2.1.1</a></li>
                                <li><a href="#">Sub Item 2.1.2</a></li>
                                <li><a href="#">Folder 3.1.1</a></li>
                                <li><a href="#">Sub Item 2.1.4</a></li>
                            </ul>
                    	</li>
                    </ul>
            	</li>
            	<li><a href="contact.html">Contact Us</a></li>
                <li><a href="#">Pages</a>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="listing.html">Product listing</a></li>
                        <li><a href="prod_detail.html">Product Detail</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog_post.html">Blog Detail</a></li>
                        <li><a href="cart.html">Shopping Cart</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="static.html">Static</a></li>
                    </ul>
            	</li>
                <li><a href="#">Themes</a>
                    <ul>
                        <li><a href="../grey/index.html">Grey</a></li>
                        <li><a href="../blue/index.html">Blue</a></li>
                        <li><a href="../brown/index.html">Brown</a></li>
                        <li><a href="../pink/index.html">Pink</a></li>
                    </ul>
            	</li>
            </ul>
            <div class="clear"></div>
        </div>
        <ul class="share">
        	<li class="txt">Share with us:</li>
            <li><a href="#"><img src="images/facebook.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/twitter.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/rss.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/blogger.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/linkdin.gif" alt="" /></a></li>
            <li><a href="#"><img src="images/del.gif" alt="" /></a></li>
        </ul>
    </div>
    <div class="clear"></div>
    <!-- Bread cremb, Latest news, Categories Section -->
	<div id="crumb_cat">
    	<!-- Categories Section -->
        <div class="categories">
        	<a href="javascript:animatedcollapse.toggle('cate')" class="btn upper white cufontxt">Product Categpries</a>
            <div id="cate" class="categoriescollapse">
				<div class="arrowlistmenu">
                	<a class="menuheader expandable">Men T-Shirts</a>
                    <ul class="categoryitems">
                    	<li><a href="#" class="subexpandable">Men T-Shirts</a>
                        	<ul class="subcategoryitems" style="margin-left: 15px">
                            	<li><a href="#">Men T-Shirts</a></li>
                                <li><a href="#">Women T-Shirts</a></li>
                                <li><a href="#">Kids T-Shirts</a></li>
                                <li><a href="#">Artistic T-Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">T-Shirts</a></li>
                    </ul>
                    <a class="menuheader expandable">Women T-Shirts</a>
                    <ul class="categoryitems">
                    	<li><a href="#" class="subexpandable">Men T-Shirts</a>
                        	<ul class="subcategoryitems" style="margin-left: 15px">
                            	<li><a href="#">Men T-Shirts</a></li>
                                <li><a href="#">Women T-Shirts</a></li>
                                <li><a href="#">Kids T-Shirts</a></li>
                                <li><a href="#">Artistic T-Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">T-Shirts</a></li>
                    </ul>
                    <a class="menuheader expandable">Kids T-Shirts</a>
                    <ul class="categoryitems">
                    	<li><a href="#" class="subexpandable">Men T-Shirts</a>
                        	<ul class="subcategoryitems" style="margin-left: 15px">
                            	<li><a href="#">Men T-Shirts</a></li>
                                <li><a href="#">Women T-Shirts</a></li>
                                <li><a href="#">Kids T-Shirts</a></li>
                                <li><a href="#">Artistic T-Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">T-Shirts</a></li>
                    </ul>
                    <a class="menuheader expandable">Artistic T-Shirts</a>
                    <ul class="categoryitems">
                    	<li><a href="#" class="subexpandable">Men T-Shirts</a>
                        	<ul class="subcategoryitems" style="margin-left: 15px">
                            	<li><a href="#">Men T-Shirts</a></li>
                                <li><a href="#">Women T-Shirts</a></li>
                                <li><a href="#">Kids T-Shirts</a></li>
                                <li><a href="#">Artistic T-Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">T-Shirts</a></li>
                    </ul>
                    <a class="menuheader expandable">T-Shirts</a>
                    <ul class="categoryitems">
                    	<li><a href="#" class="subexpandable">Men T-Shirts</a>
                        	<ul class="subcategoryitems" style="margin-left: 15px">
                            	<li><a href="#">Men T-Shirts</a></li>
                                <li><a href="#">Women T-Shirts</a></li>
                                <li><a href="#">Kids T-Shirts</a></li>
                                <li><a href="#">Artistic T-Shirts</a></li>
                                <li><a href="#">T-Shirts</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women T-Shirts</a></li>
                        <li><a href="#">Kids T-Shirts</a></li>
                        <li><a href="#">Artistic T-Shirts</a></li>
                        <li><a href="#">T-Shirts</a></li>
                    </ul>
				</div>
                <div class="clear"></div>
            </div>
        </div>
        <!-- Bread Crumb Section -->
        <div class="crumb">
        	<ul>
            	<li>You are here:</li>
                <li><a href="index.html">Home</a></li>
                <li><a href="#" class="last">About Us</a></li>
            </ul>
        </div>
    </div>
    <!-- Content Section -->
	<div id="contentsec">
    	<h4 class="colr heading">Contact Us</h4>
        <div class="contact">
        	<div class="leftsec">
            	<ul>
                	<li class="mobile">
                    	<h6 class="colr">Customer Service</h6>
                        <p>1300 924 299</p>
                        <p>Direct: +00-123-4567</p>
                        <p>International: +00-123-4567</p>
                        <p>info@website.com</p>
                    </li>
                    <li class="location">
                    	<h6 class="colr">McTeas Showroom Location!</h6>
                        <p>McTeas Clothing Pty Ltd</p>
                        <p>123 New Canterbury Road</p>
                        <p>McLaren, NSW 2049</p>
                    </li>
                    <li class="officehours">
                    	<h6 class="colr">Office Hours</h6>
                        <p>Mon-Fri 10:00am to 5:30pm</p>
                    </li>
                </ul>
            </div>
            <div class="rightsec">
            	<p class="txt">
                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed elit. Nulla sem risus, vestibulum
in, volutpat eget, dapibus ac, lectus. Curabitur dolor sapien, hendrerit non, suscipit bibendum, 
auctor ac, arcu.
                </p>
                <h5 class="colr">Send Us Message</h5>
                <div class="formsec">
                	<input type="text" value="Name" id="name" name="s" onblur="if(this.value == '') { this.value = 'Name'; }" onfocus="if(this.value == 'Name') { this.value = ''; }" class="bar" />
                    <input type="text" value="Company" id="company" name="s" onblur="if(this.value == '') { this.value = 'Company'; }" onfocus="if(this.value == 'Company') { this.value = ''; }" />
                    <input type="text" value="Email" id="email" name="s" onblur="if(this.value == '') { this.value = 'Email'; }" onfocus="if(this.value == 'Email') { this.value = ''; }" class="bar" />
                    <input type="text" value="Phone" id="phone" name="s" onblur="if(this.value == '') { this.value = 'Phone'; }" onfocus="if(this.value == 'Phone') { this.value = ''; }" />
                    <textarea name="s" cols="" rows="5">Message</textarea>
                    <div class="clear"></div>
                    <a href="#" class="buttonone">Send</a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Footer Section -->
	<div id="footer">
    	<!-- Get News -->
    	<div class="getnews">
        	<h6>Get the latest News</h6>
            <p>Stay updated with our newsletter!</p>
            <ul>
            	<li><input name="a" type="text" class="bar" /></li>
                <li><a href="#" class="submitbtn">&nbsp;</a></li>
            </ul>
        </div>
        <!-- Quick Delivery -->
        <div class="quick">
        	<h6>Quick delivery</h6>
            <p>The majority of our orders, is delivered within 1-2 weeks.</p>
        </div>
        <!-- Archive -->
        <div class="archive">
        	<h6>Archive</h6>
            <ul>
            	<li><a href="#">December 2010 (20)</a></li>
                <li><a href="#">November 2010 (120)</a></li>
                <li><a href="#">October 2010 (10)</a></li>
                <li><a href="#">September 2010 (20)</a></li>
            </ul>
        </div>
        <!-- Contact Information -->
        <div class="contactinfo">
        	<h6>Contact Information</h6>
            <ul>
            	<li class="adress">McTeas Clothing Pty Ltd<br />123 New Canterbury Road</li>
                <li class="email"><a href="#">info@website.com</a></li>
                <li class="url"><a href="#">www.website.com</a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <!-- Copyrights Section -->
    <div id="copyrights">
    	<p>© 2009 Mc - Tees All prices in American Dollars</p>
        <a href="#" class="top">Top</a>
    </div>
</div>
</body>
</html>
